<div class="skip-links">
  <a href="#main">Contenu principal</a>
</div>
{% for page in site.html_pages %}
  {% if page.navigation %}
    {% assign loopindex = loopindex | plus: 1 %}
  {% endif %}
{% endfor %}
<header class="site-header" role="banner">

  <div class="wrapper wrapper--flex{% if loopindex <= 3 %}wrapper--flex{% endif %}">

    <div class="site-logo">
      <a class="site-title" href="{{ site.baseurl }}/">Music Share</a>
    </div>
    {% if page.title == "Accueil" %}
    <nav class="nav-main" role="navigation">
      <ul>
        <li><a class="page-link" href="#textes">Textes</a></li>
        <li><a class="page-link" href="#illustrations">Illustrations</a></li>
        <li><a class="page-link" href="#morceaux">Morceaux</a></li>
        <li><a class="page-link" href="#videos">Vidéos</a></li>
      </ul>
    </nav>
    {% endif %}

  </div>

</header>
<br>
<br>
