@font-face {
  font-family: "Calibri";
  src: url("../fonts/calibri.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Calibri-Bold";

  src: url("../fonts/calibrib.woff2") format("woff2"); /* Modern Browsers */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Calibri-Italic";

  src: url("../fonts/calibrii.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: italic;
}